name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests_9:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "pypy-3.10"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
      ES_JAVA_OPTS: "-Xms256m -Xmx512m"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/pytest
        with:
          python-version: ${{ matrix.python-version }}
          elasticsearch: "9.2"
  tests_9_older:
    runs-on: ubuntu-latest
    needs: [tests_9]
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        elastic-version: ["9.1", "9.0"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
      ES_JAVA_OPTS: "-Xms256m -Xmx512m"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/pytest
        with:
          python-version: ${{ matrix.python-version }}
          elasticsearch: ${{ matrix.elastic-version }}
  tests_8:
    runs-on: ubuntu-latest
    needs: [tests_9_older]
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "pypy-3.10"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
      ES_JAVA_OPTS: "-Xms256m -Xmx512m"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/elastic_8
        with:
          python-version: ${{ matrix.python-version }}
          elasticsearch: "8.19"
  tests_8_older:
    needs: [tests_8]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.13", "pypy-3.10"]
        elastic-version: ["8.18", "8.17", "8.16", "8.15"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
      ES_JAVA_OPTS: "-Xms256m -Xmx512m"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/elastic_8
        with:
          python-version: ${{ matrix.python-version }}
          elasticsearch: ${{ matrix.elastic-version }}
